// GÉNÉRAL
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

input, textarea, label {
  width:100%;
}

input, textarea {
  border: .1rem #bc9a78 solid;
  border-radius: .3rem;
  padding: .5rem;
}

.wpcf7-submit {
  border: none;
  padding: 1rem;
  background-color: #bd7b3b;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s ease-out;
  cursor:pointer;
}

.wpcf7-submit:hover {
  background-color: #bc9a78;
  transition: all .5s ease-out;
}

a {
  color: $color-liens;
  transition: color 0.5s ease-out;
}

a:hover {
  color: $color-liens-survol;
  transition: color 0.5s ease-out;
  text-decoration: none;
}
