.block-header {
  padding: 0;
  min-height: 0;
  z-index:4;

  .navbar {
    background-color: $color-header;
    height:100%;
    width:17rem;
    position: fixed;
    a {
      color: $color-liens-menu;
    }
    a:hover {
      color: $color-liens-menu-survol;
    }
    .header-content {
      display: block;
      margin-left:0;
    }
    .social-media-m {
      display: none;
    }
    .infos-social {
      position: absolute;
      left: 0;
      bottom:0;
      margin-bottom: 2rem;
      .infos {
        color:$color-informations;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: .8rem;
        padding: 2rem 1rem;
      }
      .phone {
        font-size:1.3rem;
        font-weight: 600;
        color:$color-téléphone;
      }
      span {
        margin-top: .5rem;
      }
      .social-media {
        font-size: 2rem;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1.6rem;
        a {
          color: $color-liens-social;
        }
        a:hover {
          color: $color-liens-social-survol;
        }
      }
    }
    .infos-m {
      display: none;
      color: black;
      height:48px;
      padding: 0;
    }
    .navbar-collapse {
      width: 100%;
      margin-top: 1rem;

      .navbar-nav {
        flex-direction: column;

        .nav-item {
          margin-top: .3rem;
          font-size: 1rem;
          font-weight: 600;
        }

        .nav-link {
          padding: 1rem;
        }

      }

    }
    .navbar-toggler {
      margin-right: 0!important;
      align-self: end;
      border: none;
      font-size: 2rem;
      transition: color 0.5s ease-out;
      height:48px;
      padding: 0 .5rem;
      color: $color-burger;
    }
    .navbar-toggler:hover, .navbar-toggler:focus, .navbar-toggler:active {
      color: $color-burger-survol;
      transition: color 0.5s ease-out;
    }
    .logo {
      margin-top: 10%;
      .custom-logo {
        width: 13rem;
        padding: 0;
        height: auto;
      }
    }
    .modal-header {
      border: none;
    }
  }

}

@media (max-width: 992px) {
  .block-header {
    position: relative;
    .navbar {
      height:5rem;
      width:100%;
      justify-content: center;
      position: static;
      .header-content {
        align-content: flex-end;
        display: flex;
        margin-left: auto;
        .social-media-m {
          display: flex;
          font-size: 1.4rem;
          align-items: center;
          margin-top: 0;
          display: flex;
          justify-content: space-evenly;
          a {
            padding: 0 .5rem;
          }

        }
        .infos-social {
          position:relative;
          display:flex;
          .infos {
            display: none;
          }
          .social-media {
            display:none;
          }
        }
      }
      .navbar-collapse {
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 4;
        background-color: $color-header;

        .navbar-nav {
          flex-direction: column;

          .nav-item {
            margin-top: .5rem;
            font-size: 1.6rem;
            font-weight: 600;
          }

        }

      }
      .logo {
        align-self:flex-start;
        margin-top: 0;
        .custom-logo {
          width: 4rem;
          padding: 0;
        }
      }
      .infos-m {
        display: flex;
        padding: 0 .5rem;

        .btn-modal {
          background-color: transparent;
          border: none;
          color: $color-info-m;
          font-size: 1.4rem;
          transition: color 0.5s ease-out;
        }
        .btn-modal:hover, .btn-modal:active, .navbar-toggler:focus {
          color: $color-info-m-survol;
          transition: color 0.5s ease-out;
        }
      }

    }

  }

}

@media (max-width : 575px) {
  .block-header {
    position:fixed;
    z-index: 5;
    .navbar {
      .navbar-collapse {
        .navbar-nav {
          height:100vh;
        }
      }
    }

  }
  .block-page {
    margin-top: 5rem;
  }

}

@media (max-height: 860px) and (min-width: 992px) {
  .block-header {
    .navbar {
      .infos-social {
        display:none;
      }
    }
  }
}
